@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .flexColContainer {
    @apply flex flex-col justify-center items-center text-center;
  }

  .signBtn {
    @apply relative px-4 py-2 bg-transparent font-semibold transition-colors duration-300;
    position: relative;
    overflow: hidden;
    border: none;
    background-color: transparent;
  }

  .signBtn::before {
    content: "";
    @apply absolute inset-0 border-2 border-transparent;
    border-color: currentColor; /* Use the button text color for the border */
    transform: scale(0);
    transition: transform 0.3s ease, border-color 0.3s ease;
    transform-origin: center;
  }

  .signBtn:hover::before {
    transform: scale(1);
  }
}
